#imagem_fundo{background: url("Asset/FotoJet(1).jpg");
}
.container{
background-color: rgb(178, 174, 174);  margin: auto
border: 15%px solid red;
padding: 20px;
;} 
html,body {margin: 0;}
.class{
width: 100px;
}

#section{text-align: center;}